<!DOCTYPE html>
<html>
	<head>
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/css/jquery-ui.min.css"></link>
		<link rel="stylesheet" href="/css/base.css"></link>
		<link rel="stylesheet" href="/css/layout.css"></link>
		<link rel="stylesheet" href="/css/ui.css"></link>
		<link rel="stylesheet" href="/css/credits.css"></link>
		<link rel="stylesheet" href="/css/effects.css"></link>
    <link rel="stylesheet" href="/css/autocomplete.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	  <script src="/bin/jquery-3.2.1.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="/bin/jquery-ui.min.js"></script>
		<script src="/bin/jquery-canvas.min.js"></script>
		<script src="/bin/pdf.js"></script>
		<script src="/bin/pdf.worker.js"></script>
		<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
		<meta name="keywords" content={{tags}}/>
		<link rel="icon" type="image/png" href="/content/icon.png"></link>
		<title>{{{title}}}</title>
	</head>
	<body>
		<script src="/bin/ads.js"></script>
		{{{body}}}
	</body>
</html>
